.right-branch-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
}

/* Images Section*/
.right-branch-images{
    margin-top: 4%;
    width: 89%;
    border: 3px solid black;
    border-radius: 5px;
}

.image-header h1{
    font-size: 1.5rem;
    margin-top: 0px;
    padding: 15px;
    background-color: #79d9ff;
    border-bottom: 2px solid black;
}

.exclusion-criteria {
    width: 100%;
    margin-bottom:0px; 
    height: auto; 
    
}

/* Sarnat Exam Section*/
.right-branch-sarnat-exam {
    width: 90%;
    margin-top: 3%;
    border: 3px solid black;
    background-color: white;
    border-radius: 5px;
    align-items: flex-start;
    justify-content: center;
    font-size: 1rem;
    box-sizing: border-box;
}

.sarnat-exam-header h1{
    font-size: 1.5rem;
    margin-top: 0px;
    background-color: #79d9ff;
    padding: 15px;
    border-bottom: 2px solid black;
}

.right-branch-sarnat-exam h2 {
    text-align: left;
    margin-left: 5px;
}

.right-branch-sarnat-exam h3 {
    font-size: x-large;
    text-align: left;
    margin-left: 20px;
}

.right-branch-sarnat-exam h4 {
    text-align: left;
    margin-left: 30px;
}

.radio-group {
    display: flex;
    flex-direction: column; 
    gap: 10px;
    margin: 10px 5px 10px 20px;
}

.radio-group p {
    background-color: lightgray;
    margin: 0px 2px;
    border: 2px solid black;
    border-radius: 2px;
    font-weight: bold; 
    flex: 1;
    text-align: left;
    padding: 8px 10px; 
    width: 80%; 
    word-wrap: break-word; 
}


.radio-buttons {
    display: flex;
    flex-direction: column;
    font-size: .9rem;
    width: 100%;
    gap: 5px;
    flex: 1;
}

.radio-buttons label {
    display: inline-flex;
    align-items: center;
    justify-content: left;
}

.radio-label-text {
    text-align: left;
    padding-left: 1%; 
}


.radio-buttons input[type="radio"] {
    margin: 0px 10px;;
}

.right-branch-sarnat-exam button{
    margin-top: 2%;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.right-branch-sarnat-exam button:hover {
    background-color: #6ac8ff;
    border-color: black;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/*Input for Question 4*/
.input-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.phInput{
    margin-left: 17px;
}

.minusSign{
    margin-right: 10px;
    font-weight: bold;
}

.input-group label {
    font-size: large;
    margin: 0 20px;
    width: 25%;
    text-align: left;
}

.input-group input {
    width: 20%;
    padding: 5px;
    border: 2px solid black;
    box-sizing: border-box;
    
}

/* Yes and No boxes in question 4*/
.highlight-group {
    margin-bottom: 10px;
}

.highlight-group p{
    text-align: left;
    margin-left: 30px;
}

.highlight-buttons {
    display: flex;
    justify-content: center;
    gap: 10%;

}

.highlight-option {
    padding: 10px 40px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    transition: 0.3s ease;
}

.highlight-option.selected {
    background-color:  #79d9ff;
    color: black;
    border: 2px solid black;
}

.part-5-container {
    border: 3px solid black;
    margin: 10px;
    background-color: white;
    width: 90%;
    margin: 10px auto;
    margin-top: 3%;
}

.part-5-container h3{
    margin-left: 25px;
}

.part-5-description-container {
    margin: 0 0px 10px 0;
    width: 100%;
    padding: 5px 0px;
    background-color: lightgray;
    text-align: center;
    border: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    font-weight: bold;
}

.summary-section {
    text-align: left; 
    border: 3px solid black; 
    border-radius:5px ;
    margin: 2%;
}

.summary-section h1 {
    text-align: center; 
    margin-bottom: 20px;
    
}

.summary-section h3 {
    text-align: left; 
    margin-left: 10px;
}

.summary-section h4 {
    text-align: left; 
    margin-left: -10px; 
    margin-bottom: 10px;
   
}

.summary-section p{
    margin-left: 30px; 
} 

.summary-button {
    margin: 2%;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

/* Referal center section*/
.referral-center-container{
    border: 3px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background-color: #79d9ff;
    width: 92%;
    margin: 10px auto;
    margin-top: 3%;
    font-size: 600;
}

/* Back to site button*/
.button-group{
    width: 100%;
}

.button-group button{
    margin: 2%;
    width: 30%;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.button-group button:hover {
    background-color: #6ac8ff;
    border-color: black;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

@media (max-width: 900px) {

    .image-header h1{
        font-size: 1.4rem;
    }

    .sarnat-exam-header h1{
        font-size: 1.4rem;
    }

    .right-branch-sarnat-exam h2 {
        font-size: 1.3rem;
    }

    .right-branch-sarnat-exam h3 {
        font-size: 1.25rem;
    }

    .radio-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .radio-buttons {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }

    .radio-buttons label {
        width: 100%;
        margin: 5px 0;
        justify-content: flex-start;
    }

     .part-5-description-container {
        flex-direction: column;
    }

    
    .right-branch-sarnat-exam {
        width: 95%;
    }
    .radio-group p {
        width: 90%;
    }

    .radio-label-text {
        text-align: left;
        padding-left: 1%;  
    }

    .input-group input {
        width: 25%;
    }

    .button-group button{
        width: 80%;
    }
}


@media (max-width: 468px) {
     .right-branch-container {
        margin-left: 6%;
    }

    .right-branch-images{
        margin-left: -2%;
        width: 104%;
    }

    .right-branch-sarnat-exam {
        margin-left: -2%;
        width: 105%;
    }

    

    .radio-group p {
        width: 90%;
    }

    .radio-buttons{
        font-size: .8rem;
    }
    
    .radio-label-text {
        text-align: left;
        padding-left: 1%;   /* Indent all lines */
    }
    

    .input-group input {
        width: 40%;
    }
    
    .summary-section{
        padding: 5px;
    }

    .summary-section h1 {
    font-size: 1rem;
    }
    
    .summary-section h3 {
    font-size: .8rem;
    }
    
    .summary-section h4 {
        font-size: .8rem;
    }
    
    .summary-section p{
        font-size: .8rem;
    } 

    .referral-center-container{
        padding: 3px;
        width: 89%;
        font-size: .6rem;
    }

    .button-group button{
        width: 80%;
    }
}