/* Apply background gradient */
body, html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #ffffff, #d3d3d3);
    background-size: 100% 100%; /* Prevent gradient from repeating */
    background-attachment: fixed; /* Prevent background from repeating when scrolling */
    font-family: Arial, sans-serif;
}

/* Home container */
.home-container {
    text-align: center;
    padding-top: 10px; /* Adjust to bring the title closer to the top */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the top */
    align-items: center;
    min-height: 100vh; /* Ensure the container takes at least full viewport height */
}

/* Title styling */
.home-title {
    position: relative;
    top: 0;
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
    margin-top: 20px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    width: 70%;
}

/* Button group container */
.button-group {
    display: flex;
    justify-content: center;
    width: 60%;
    gap: 20px; /* Adjust space between buttons */
    margin-top: 50px;
}

/* Button styles */
.button-group button {
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

/* Button hover effect */
.button-group button:hover {
    background-color: rgb(255, 115, 0);
    border-color: black;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Media Queries for Tablets and Small Screens */
@media (max-width: 768px) {
    .home-title {
        font-size: 1rem;
    }

    .button-group {
        gap: 15px;
    }

    .button-group button {
        padding: 15px 30px;
        font-size: 1.1rem;
    }
}

/* Media Queries for Mobile Devices */
@media (max-width: 480px) {
    .home-title {
        font-size: .8rem;
    }

    .button-group {
        gap: 10px;
    }

    .button-group button {
        padding: 12px 25px;
        font-size: 1rem;
    }
}
